*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*height: 100vh;*/
}

.form{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 600px;
}

input{
    margin: 0px 0;
    padding: 5px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}

select{
    margin: 5px 0;
    padding: 5px;
    border: unset;
    border-bottom: 2px solid #e3e3e3;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

input:focus{
    border-bottom: 2px solid #bebebe;
}
input:read-only{
    background: #efefef;
}

.button{
    height:30px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    margin: 2pt;
    text-align-all: center;
    border: unset;
    background: #e3e3e3;
    cursor: pointer;
    outline: none;

}
.button:hover{
    background: #bebebe;
}


.msg {
    border: 2px solid #ffa908;
    border-radius: 3px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.logout {
    color: #b7625c;
    text-align: center;
}

.forgot{
    text-align: center;
    color: #777777;
}

a.call_admin{
    color: #050f88;
    text-decoration:none;
}

h2.call_admin{
    text-align: center;
    margin-bottom: 20px;
}

textarea {
    margin: 5px 0;
    padding: 5px;
    width: 100%;
    height: 150px;
    border: 2px solid #e3e3e3;
    resize: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

label{
   margin: 0;
}

textarea:focus {
    border: 2px solid #bebebe;
}

.center{
    text-align: center;
}

table{
    min-width: 800px;
    max-width: 1200px;
    text-align: center;
    border: 2px solid black;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
    display: table;
}

td,th{
    border: 2px solid #bebebe;
    padding: 3px;
}
tr:nth-child(odd) { background-color: #ececec; }

.wrapper{
    max-width: 1200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;

}

/*Меню*/

.dws-menu *{
    margin: 0;
    padding: 0;
}

header{
    margin-top: 0;
    width: 100%;
    background: #ececec;
    margin-bottom: 60px;
    flex: 0 0 auto;
}

.main-content {
    flex: 1 0 auto;
}

footer{
    margin-bottom: 0;
    width: 100%;
    background: #ececec;
    flex: 0 0 auto;
    height: 50px;
    margin-top: 50px;
}

.dws-menu ul, .dws-menu ol{
list-style: none;
}

.dws-menu > ul{
    display: flex;
    justify-content: center;
}

.dws-menu > ul li a {
    display: block;
    background: #ececec;
    padding: 15px 30px 15px 40px;
    color: black;
    text-decoration: none;
    transition: all 0.5s ease;
}

.dws-menu li>ul li ul{
    position: relative;
    right: -285px;
    top: -50px
}

.dws-menu > li{
    position: relative;
}

.dws-menu > ul li:first-child{
    border-left: 2px solid #bebebe;
}

.dws-menu > ul li:last-child{
    border-right: 2px solid #bebebe;
}

.dws-menu > ul li{
    border-right: 1px solid #bebebe;
}

.dws-menu li a:hover{
    background: #bebebe;
    transition: all 0.5s ease;
}

/*Подменю*/

.dws-menu li ul{
    position: absolute;
    min-width: 180px;
    display: none;
}

.dws-menu li:hover > ul{
    display: block;
}

.dws-menu li>ul li{
    border: 1px solid #bebebe;
    height: 50px;
}
.dws-menu li>ul li a{
    padding: 15px;
    text-transform: none;
    background: #dedede;
    height: 100%;
}

.left{
    display: flex;
    align-items: normal;
}
td a{
    text-decoration: none;
    color: #585858;
    display: block;
    transition: all 0.5s ease;
}
td a:hover{
    color: #000000;
    background: #bebebe;
    transition: all 0.5s ease;
}

section p{
    margin-bottom: 5px;
}

h3{
    margin-top: 10px;
    font-size: 16pt;
}

.line{
    width:100%; border-top:2px solid #cbcbcb; padding-left:10px
}

@media print {
    header {
        display: none !important;
    }
    footer{
        display: none !important;
    }
    h3{
        display: none !important;

    }
    input{
        display: none !important;
    }
    tr{
        page-break-inside: avoid;
    }
    td,th{
        border: 2px solid black;
    }

    @page {size:landscape;
        margin: 10mm 10mm 10mm 20mm;
    }
}

#search-text{
    top:+11px !important;
}